RewriteEngine On

# Redireccionar URL con la palabra "comprobante"
RewriteCond %{REQUEST_URI} comprobante [NC]
RewriteRule ^ pdf.php [L]

# Redireccionar URL con la palabra "verificar"
RewriteCond %{REQUEST_URI} verificar [NC]
RewriteRule ^ reserva.php [L]
